<form class="content" (ngSubmit)="onSubmit()">
  <div style="margin-bottom: 24px;">
    <div class="container-title">
      <ion-icon (click)="back()" name="arrow-back-sharp"></ion-icon>
    </div>
  </div>

  <div id="wrapper">
    <div id="dialog">
      <p>Insira o código que enviamos para o seu e-mail para recuperar sua senha</p>
      <div id="form">
        <input type="text" name="code" [(ngModel)]="code" maxLength="6" size="6" min="0" max="9" pattern="[0-9]{1}">
      </div>
      <button class="btn-validate-reset">Verify</button>
      
      <div>
        <p class="code" (click)="sendCodeAgain()">Não recebeu? Solicite um novo código</p>
      </div>
    </div>
  </div>
</form>