.container {
  margin: 0;
  background-color: #f2f2f2;
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 8px;
  box-shadow: 1px 1px 5px 2px;
  max-height: 200px;
  overflow: auto;
  margin-bottom: 20px;
}

.user {
  font-size: 18px;
}

.align {
  text-align: justify;
}