.post {
    width: 100%;
    padding: 20px 16px 20px 5px;
}

.message {
    margin-top: 30px;
    font-size: 14px;
    padding: 0 20px;
    text-align: justify;
}

div.comments:last-of-type {
    border-bottom: 0;
}

.user-photo {
    width: 40px;
    height: 40px;
    background-color: #aaa;
    border-radius: 50%;
    float: left;
    margin-right: 10px;
    margin-left: 22px;
}

.profile-picture-box {

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  
    ion-icon {
        height: 50px;
        width: 50px;
        color: white;
    }
  
    button {
        background: ghostwhite;
        color: black;
        border-radius: 8px;
        border-style: solid;
        border-width: 1px;
        --box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);
        width: 160px;
        height: 34px;
        font-family: sans-serif;
    }
  
    .profile-picture {
        height: 40px;
        width: 40px;
        border-radius: 90px;
    }
  }

.icon-post {
    height: 20px;
    width: 20px;
    margin-left: 4px;
}

.div-icons-post {
    justify-content: center;
    display: flex;
    margin-left: 15px;
}

.arrow {
    font-size: 32px;
}

.name {
    margin-left: 10px;
    margin-top: 7px;
    width: 75%;
    font-size: 18px;
    display: flex;
}

.date-comment {
    margin-left: 27%;
    font-size: 11px;
    font-weight: 400;
}

.comments {
    padding-bottom: 12px;
    border-bottom: 0.8px solid black;
    padding-top: 8px;
}

.date-post {
    margin-left: 18%;
    font-size: 11px;
    font-weight: 400;
}

.user {
    margin-top: 5px;
    font-weight: bold;
    margin-bottom: 5px;
    width: 100%;
    display: flex;
    align-items: center;
    padding-right: 10px;
}

.item-inner {
    width: calc(100% - 40px);
}

.comments-text {
    font-weight: 800;
    font-size: 2vh;
    padding: 13px 0px 12px 10px;
    margin-bottom: 22px;
    border: 1px solid black;
    background-color: #ffecf2;
    border-left: 0;
    border-right: 0;
}

.comments-text-line {
    border-bottom: 0.5px solid black;
    margin: 0px 35px 30px 35px;
}

.like {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    align-items: center;
}

.like-comment {
    display: flex;
    margin-top: 20px;
    align-items: center;
}

.comment {
    border-bottom: solid 0.8px;
    padding-bottom: 17px;
}

.no-comment {
    padding: 18px;
    font-size: 1.7vh;
}
  