<form class="content" (ngSubmit)="onSubmit()">

  <div style="margin-bottom: 24px;">
    <div class="container-title">
      <ion-icon (click)="back()" name="arrow-back-sharp"></ion-icon>
    </div>
    <span class="reset-title">Nova senha</span>
  </div>

  <div class="box">
    <ion-input
      class="custom" 
      type="password"
      [(ngModel)]="password" 
      name="senha"
      fill="outline"
      label="Senha"
      labelPlacement="floating">
    </ion-input>

    <ion-input
      class="custom" 
      type="password"
      [(ngModel)]="confirmPassword" 
      name="confirmPassword"
      fill="outline"
      label="Confirmar senha"
      labelPlacement="floating">
    </ion-input>
  </div>

  <div class="reset-button">
    <input class="reset" type="submit" value="Alterar">
  </div>

</form>