<ion-header [translucent]="true">
  <ion-toolbar class="toolbar" style="--background: ghostwhite;">
    <ion-buttons slot="start">
      <ion-menu-button style="height: 54px;">
        <ion-icon *ngIf="!profileImage" class="perfil" name="person-circle"></ion-icon>
        <img [src]="profileImage" *ngIf="profileImage" style="border-radius: 40px;" alt="Profile Image">
      </ion-menu-button>
    </ion-buttons>
    <ion-title style="opacity: 1; font-size: 24px;">
      <ng-container style="color: black;" *ngIf="isHomePage(); else otherPage">
        <ion-button (click)="myPosts()">Meus Posts</ion-button>
      </ng-container>
      <ng-template #otherPage>

      </ng-template>
    </ion-title>
  </ion-toolbar>
</ion-header>