<div class="container">
  <div class="title">
    <ion-icon (click)="backToHome()" name="arrow-back-outline"></ion-icon>
    <h1>Sobre o Aplicativo</h1>
  </div>
  <div class="about">
      <div class="justify">
        <h2>Quem Somos?</h2>
        <span>
          Jackeline Ferreira é a responsável pela documentação, Leonardo Lima pelo back-end e Pedro Gregorio pelo front-end.
        </span>
      </div>
      <div class="justify">
        <h2>Nossa Proposta</h2>
        <span>
          Desenvolver um aplicativo mobile com a intenção de auxiliar mulheres em possíveis
          situações de risco.
        </span>
      </div>
  </div>
  <div class="justify tech">
    <h2>Tecnologias Utilizadas</h2>
    <span>
      Para o desenvolvimento do front-end, foram utilizados os frameworks Angular e Ionic com Typescript de linguagem,
      já para o back-end, Java foi a linguagem escolhida junto o framework Spring Boot e MySQL para o banco de dados.
    </span>
  </div>
  <div class="justify tech">
    <h2>Instituição de Ensino</h2>
    <span>
      Faculdade de Tecnologia do Estado de São Paulo (FATEC) - Rubens Lara - Baixada Santista
    </span>
  </div>
  <div class="justify tech">
    <h2>Orientadora do Projeto</h2>
    <span>
      Profª. Drª. Vanina Carrara Sigrist
    </span>
  </div>
  <div class="justify tech">
    <h2>Versão do Aplicativo</h2>
    <span>
      Este é o primeiro lançamento do aplicativo de TCC, versão 1.0.
    </span>
  </div>
</div>